*.cache
/build
/config.h.in
/configure
/configure.ac
/run-tests.php
/.idea
/cmake-build-debug/
/CMakeLists.txt
/config.nice
/config.log
/.libs
/config.status
/Makefile
/Makefile.fragments
/Makefile.objects
/modules
/libtool
/remote_error_monitor.la
/remote_error_monitor.lo
/tmp-php.ini
